.home-page {
  text-align: center;
  margin-top: 50px;
}

.catalog-button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.catalog-button:hover {
  background-color: #0056b3;
}